body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 247, 195);
    overflow-x: hidden;
}

.nav .navbar {
    box-shadow: 2px 2px 3px black;
    position: fixed;
    background-color: rgb(200, 211, 80);

}


.nav .offcanvas a {
    display: block;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 38px;
    color: black;
}

.nav .offcanvas {
    background-color: rgb(243, 247, 195);

}

.nav .offcanvas a:hover {
    background-color: white;

}

.work .photoo {
    width: 220px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.nav .mark {
    background-color: rgb(200, 211, 80) !important;

}

#iicon {
    color: white;
}

/* contact-part */
.conect {
    margin-top: 120px;
    background-image: linear-gradient(white, rgb(243, 247, 195), white);
}

.conect h1 {
    font-style: italic;
    text-shadow: 2px 2px 3px white;
}

.conect h3 {
    font-style: italic;
    text-shadow: 2px 2px 3px white;

}

/* form-part */
.formm a {
    background-color: rgb(200, 211, 80);
}

.formm {
    font-style: italic;
}

.formm ::placeholder {
    font-style: italic;
}

/* final-part */
.final i {
    color: rgb(200, 211, 80);
}

.final a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.final h4 {
    font-style: italic;
}

/* footer-part */
.footer-page {
    font-style: italic;
}

.footer-page a {
    color: black;
    background-color: white;
    padding: 5px;
    margin: 7px;
}

.footer-page a:hover {
    color: white;
    background-color: rgb(200, 211, 80);
    padding: 8px;
    margin: 7px;
}

.footer-page h5 {
    text-shadow: 2px 2px 3px white;
}
