body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 247, 195);
    overflow-x: hidden;
}

.nav .navbar {
    box-shadow: 2px 2px 3px black;
    position: fixed;
    background-color: rgb(200, 211, 80);



}


.nav .offcanvas a {
    display: block;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 38px;
    color: black;
}

.nav .offcanvas {
    background-color: rgb(243, 247, 195);

}

.nav .offcanvas a:hover {
    background-color: white;

}

.work .photoo {
    width: 220px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.nav .mark {
    background-color: rgb(200, 211, 80) !important;


}

#iicon {
    color: white;
}

/* blog-part */
.blog {
    margin-top: 170px;
}

.blog a {
    background-color: rgb(243, 247, 195);
    color: black;
    font-style: italic;
    box-shadow: 2px 2px 3px black;
}

.blog h4 {
    font-style: italic;
    color: rgb(243, 247, 195);
    text-shadow: 2px 2px 3px black;

}

.blog p {
    font-style: italic;
}

.blog h1 {
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 3px white;

}

/* part-two  */
.information {
    background-image: linear-gradient(white 30%, rgb(243, 247, 195));

    margin-top: 80px;
}

.information h2 {
    font-style: italic;
    text-align: center;
}

.information p {
    font-style: italic;
    text-align: center;
}

.information a {
    background-color: rgb(243, 247, 195);
    color: black;
    font-style: italic;
    box-shadow: 2px 2px 3px black;
    text-align: center;
}

/* footer-part */
.footer-page {
    font-style: italic;
}

.footer-page a {
    color: black;
    background-color: white;
    padding: 5px;
    margin: 7px;
}

.footer-page a:hover {
    color: white;
    background-color: rgb(200, 211, 80);
    padding: 8px;
    margin: 7px;
}

.footer-page h5 {
    text-shadow: 2px 2px 3px white;
}
